@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Repertorie

    <div class="login">
        <!-- Form -->
        <form asp-action="AddItem" method="post">
            <div class="row">
                <div class="col-75" style="padding: 10px;">
                    <input type="number" id="songId" name="songId" placeholder="Numero" asp-for="SongId">
                </div>
                <div class="col-75" style="padding: 10px;">
                    <input type="text" id="comments" name="comments" placeholder="Comentari" asp-for="Comments">
                </div>
                @*<div class="col-75">
                <input type="checkbox" id="checkbox" name="checkbox" asp-for="IsCurrent" value="IsCurrent">
        </div>*@
                <div class="col-25">
                    <button type="submit" class="btn btn-success">Afegir</button>
                </div>
            </div>
        </form>
            
    </div>


    @*<div class="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="u" placeholder="Username" required="required" />
            <input type="password" name="p" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>*@