@model Repertorie
@{
    ViewData["Title"] = "Home Page";
}
<meta http-equiv="refresh" content="5" />
<div>
    <div>
        <div class="musicsNum">@Model.SongId</div>
        <div class="musicsComments">@Model.Comments</div>
    </div>
</div>

<br />
<br />
<br />
<p>KOB List Manager &#64; 2020</p>

